/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Caveat */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

:root {

  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

    --html: #f16529;
    --css: #2862e9;
    --js: #f7df1e;
    --php: #7377ad;
    --node: #73ab60;
    --sass: #f783ac;
    --sql: #f783ac;
    --mongo: #00684a;
    --node: #3eb112;
    --git: #e94e31;
    --swift: #f4993a;
    --discord: #7289DA;
    --bg: #1f1f1f;
    --posterH: 250px;
    --posterW: 165px;
    --steel: #7a7a7a;
    --react: #0fccce;
    --silver: #f2f2f2;
    --softBlack: #1a1a1a;
    --secondary: #3c3c3c;
    --piratechs: #2b4261;
    --softBlack2: #636363;
    --main: rgb(0, 216, 255);
    --authGlass: rgba(0, 0, 0, 0.05);
    --blackGlass: rgba(0, 0, 0, 0.75);
    --silverGlass: rgba(0, 0, 0, 0.35);
    --mainGlass: rgba(255, 28, 11, 0.75);
    --softWhite: rgba(255, 255, 255, 0.87);
    --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  place-items: center;
  background: var(--steel);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    &:hover {
      color: #747bff;
    }
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
  padding: 0rem;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.react {
    &:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

// Custom Code

.spacer {
  padding: 2em;
}

.hoverLink {
  display: flex;
  grid-gap: 0.3em;
  align-items: center;
  position: relative;
  transition: var(--transition);
  &::before {
    content: "" !important;
    background: var(--main);
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    bottom: -3px;
    right: 0;
    z-index: 0;
    transform-origin: 0% 100%;
    transform: scale(0, 1);
    transition: var(--transition);
  }
  &:hover {
    transition: var(--transition);
    &::before {
      transform: scale(1, 1);
      transition: 500ms ease-in-out;
    }
  }
}

header {
    top: 0;
    height: 12%;
    width: 100%;
    z-index: 100;
    display: flex;
    position: fixed;
    padding: 0.5em 0;
    align-items: center;
    color: var(--softWhite);
    justify-content: center;
    transition: var(--transition);
    animation: fadeIn 1000ms ease-in-out;
    background: linear-gradient(var(--softBlack2) 0%, transparent);
    .inner {
        width: 93%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      .logo {
        height: auto;
        max-width: 100px;
        margin-right: 10px;
      }
      .navigation {
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 100%;
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          list-style: none;
          align-items: center;
          max-height: 35px !important;
          transition: var(--transition);
          li {
            max-height: 35px !important;
          }
          li:not(.right) {
            margin-left: 20px;
            text-decoration: none;
            color: var(--silver);
            cursor: pointer;
            transition: var(--transition) !important;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
  .scrolledHeader {
    backdrop-filter: blur(5px);
    transition: var(--transition);
    background: rgba(0, 0, 0, 0.35);
  }

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  color: var(--silver);
  transition: var(--transition) !important;
  &:hover {
    color: white;
  }
}

  .banner {
    transition: var(--transition) !important;
  }

  .content {
    padding: 2em;
    min-height: 62vh;
  }
  
  @media (max-width: 992px) {
    .navigation {
      ul {
        display: none !important;
      }
    }
  }

  .projects {
    width: 90%;
    grid-gap: 3em;
    display: flex;
    flex-wrap: wrap;
    margin: 4em auto 0;
    align-items: center;
    justify-content: space-between;
    .project {
      width: 30%;
      padding: 2em;
      display: flex;
      text-align: left;
      min-height: 390px;
      position: relative;
      border-radius: 15px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 6px 3px #6f6f6f;
      .projectHeader {
        top: 15px;
        width: 100%;
        display: flex;
        margin: 0px auto;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        .headerTop {
          width: 90%;
          display: flex;
          margin: 0px auto;
          justify-content: space-between;
          .index {
            font-weight: 600;
          }
        }
        .projectBy {
          width: 80%;
          display: flex;
          font-weight: 600;
          font-size: 0.8em;
          margin: 15px auto;
          align-items: center;
          justify-content: space-between;
          .lazy-load-image-loaded {
            max-height: 25px;
          }
        }
      }
      .projectContent {
        padding: 2em 0 0;
        font-weight: 600;
        min-height: 200px;
        font-size: 0.85em;
      }
      .projectFooter {
        width: 75%;
        bottom: 15px;
        display: flex;
        font-weight: 600;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        .topics {
          width: 100%;
          display: flex;
          grid-gap: .5em;
          font-size: 1.5em;
          justify-content: center;
          i {
            padding: 0.2em;
            border-radius: 100px;
            background: var(--softWhite);
          }
          .fa-sass {
            color: var(--sass);
          }
          .fa-react {
            color: var(--react);
          }
          .fa-html5 {
            color: var(--html);
          }
          .fa-node-js {
            color: var(--node);
          }
          .fa-database {
            color: pink;
          }
          .fa-angular {
            color: #dd0031;
          }
          .fa-php {
            color: #e2e2e2;
            background: var(--php);
          }
          .fa-js-square {
            color: #d6c329;
            // color: var(--js);
          }
          .fa-css3-alt {
            color: var(--css);
          }
          .fa-discord {
            color: var(--discord);
          }
        }
      }
    }
  }